  body  {
              background-image: url("images/paper.jpg");
		          background-size: cover;
              
              font-family: 'Montserrat', sans-serif;


          }
          header {
              width: 100%;
              /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7c5f49+0,683400+74 */
              background: #7c5f49; /* Old browsers */
              background: -moz-linear-gradient(top,  #7c5f49 0%, #683400 74%); /* FF3.6-15 */
              background: -webkit-linear-gradient(top,  #7c5f49 0%,#683400 74%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to bottom,  #7c5f49 0%,#683400 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c5f49', endColorstr='#683400',GradientType=0 ); /* IE6-9 */

              color: white;
              position: fixed;
              top:0px;
              text-align: center;
              height: 100px;
              font-size: 40px;
              padding: 30px;
              box-sizing: border-box;
              font-family: 'Montserrat', sans-serif;
              box-shadow: 0px 11px 18px black;
/*              position: fixed;*/
/*
              top: 0px;
              left: 0px;
*/
              z-index: 5px;


          }
          #addButton {
              position: fixed;
              bottom: 15px;
              right: 15px;
/*              height:200px;*/
              width: 120px;
              transition: 0.7s ease-in-out;
          }

          #addButton:hover {
            transform: scale(1.1);
            transition: 0.5s ease-in-out;




          }

          #notesGoHere {

          }

/*
          input {
              top: 80%;
              width: 100%;
              box-sizing: border-box;

          }

*/
           #formParent {

              display: flex;
              flex-direction: column;
              align-items: center;
              width: 100%;
              position:absolute;
              top: 40%;
              z-index: 5px;
              display:none;

          }

          #form {
              display: flex;
              flex-direction: column;
              align-content: center;
              width: 100%;
              position: relative;
              top: 25px;
              font-family: sans-serif;
              color:white;
              font-size: 30px;
              background-color: grey;

              box-sizing:border-box;
              padding: 15px;



          }
          label {
              width: 100%;
              font-family: 'Montserrat', sans-serif;


          }
          input {

              width: 100%;
              top: 200px;
              min-height: 65px;
              box-sizing: border-box;
              text-indent: 17px;
              padding: 0px 0px 0px 0px;
              font-size: 20px;
              margin: 0px;
              overflow: visible;
              display:flex;
              flex-direction: column;



          }
/*  Add button class*/
          .addNoteBtn {
              background-color: white;
              width: 150px;
              font-family: sans-serif;
              color: black;
              border-radius: 7px;
              font-size: 20px;
              cursor: pointer;
              box-shadow: 2px 5px 30px black;


          }


/*    Save & Edit button class*/
          #save {
              width: 25%;

              bottom: 0px;
              right: 0px;
              margin: 15px;
              border-radius: 7px;
            }
            #edit {
                width: 25%;

                bottom: 0px;
                right: 0px;
                margin: 15px;
                border-radius: 7px;
              }


/*   Canvas to store notes */
          #canvas {
              width: 100%;
              position:relative;
              top: 140px;
              background-image: url("images/paper.jpg");
						 justify-content: center;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              
              box-sizing: border-box;
              align-items: stretch;
              padding:0px;
              z-index: -10px;

              margin: 50px 0px 0px 0px;

          }

        .toDoItem {

            width: 700px;
            flex-grow: 1;
            flex-shrink: 1;
            box-sizing: border-box;
            border: 4px solid #0575AD;
            border-top-left-radius:  30px;
            padding: 6px 10px 20px 20px;
            margin: 10px;
            height: 200px;
					  max-width: 500px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,53cbf1+40,05abe0+100;Blue+3D+%23+16 */
            background: #87e0fd; /* Old browsers */
            background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */

            overflow: hidden;
            color: white;
            font-style: italic;




          }
        .toDoItem:hover {
          transform: rotateZ(3deg);
          transition: 0.5s linear;
          box-shadow: 2px 5px 15px black;
        }


        .removeButton {

            top: 10px;
            right: 10px;
            width: 40px;
            height: 40px;
            float: right;
        }

        .editButton {


            width: 40px;
            height: 40px;
            float: right;
            margin-right: 5px;
        }

        .toDoItem h3  {
            color:white;
            font-size: 24px;

        }

        p {
          color: white;
        }
        .message {

            color: white;

        }
